@import "variables.module";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2 {
	font-family: "Bebas Kai";
	margin: 0;
}

h3{
	color: $tertiary-color;
	font-family:'Akira Expanded', Geneva, Tahoma, sans-serif;

}
p{
	color: $secondary-color;
	font-family: 'Cabify Circular', Geneva, Tahoma, sans-serif;;
	line-height: 120%;
}

button {
	font-family: "Akira Expanded";
	font-size: 22px;
	background-color: $accent-color;
	appearance: none;
	border: none;
	border-radius: 25px;
	padding: 20px 35px;
	margin-top: 20px;
	box-shadow: rgba(130, 143, 157, 0.082) 0px 0px 4px 0px, rgba(252, 252, 252, 0.32) 0px 0px 16px 0px;
}

img {
		width: 100%;
		height: auto;
}

.politicas{
	.container{
		padding: 30px 8vw;

	}
	font-family: 'Cabify Circular', Geneva, Tahoma, sans-serif !important;
	h1{
		color: $secondary-color;
		font-family: 'Cabify Circular', Geneva, Tahoma, sans-serif;
		font-size: 20px;
	}
	p{
		font-family: 'Cabify Circular', Geneva, Tahoma, sans-serif;
		text-align: justify;
  text-justify: inter-word;

	}
	h2{
		color: $secondary-color;
		font-family: 'Cabify Circular', Geneva, Tahoma, sans-serif;
		font-size: 20px;

	}
}

@font-face {
	font-family: "Akira Expanded";
	src: url("/fonts/subset-AkiraExpanded-SuperBold.woff2") format("woff2"),
		url("/fonts/subset-AkiraExpanded-SuperBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bebas Kai";
	src: local("Bebas Kai"), local("BebasKai"), url("/fonts/subset-BebasKai.woff2") format("woff2"),
		url("/fonts/subset-BebasKai.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cabify Circular";
	src: local("Cabify Circular Bold"), local("CabifyCircular-Bold"),
		url("/fonts/subset-CabifyCircular-Bold.woff2") format("woff2"),
		url("/fonts/subset-CabifyCircular-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cabify Circular";
	src: local("Cabify Circular Book"), local("CabifyCircular-Book"),
		url("/fonts/subset-CabifyCircular-Book.woff2") format("woff2"),
		url("/fonts/subset-CabifyCircular-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cabify Circular";
	src: local("Cabify Circular Light"), local("CabifyCircular-Light"),
		url("/fonts/subset-CabifyCircular-Light.woff2") format("woff2"),
		url("/fonts/subset-CabifyCircular-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cocogoose";
	src: local("Cocogoose"), url("/fonts/subset-Cocogoose.woff2") format("woff2"),
		url("/fonts/subset-Cocogoose.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
