@import "variables.module";

.container {
	padding: 30px 8vw;
}

#hero {
	min-height: 90vh;
	background: $tertiary-color;

	#hero_text {
		h1 {
			font-size: 28px;
			color: $primary-color;
			line-height: 27px;
		}
		h2 {
			padding: 10px 0px;
			font-size: 18px;
			color: $accent-color;
		}
	}
	#button {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	img {
		width: 100%;
		height: auto;
	}
}

#miedos {
	text-align: center;
	color: $secondary-color;

	p {
		text-align: center;
		max-width: 200px;
	}

	.miedos_elements{
		display: flex;
		flex-direction: column;
		padding: 30px 0px;
		gap: 20px;
	}

	.miedos_element {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	img {
		max-width: 40%;
  		filter: drop-shadow(0px 0px 10px rgb(114, 114, 114));
		border-radius: 100px;
	}
}

#beneficios{
	background-color: $accent-color;
	h3{
		margin: 0;
		text-transform: uppercase;
	}
	.beneficios_elements{
		padding-top: 20px;
	}

	.beneficios_element{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	text-align: center;

}
